
	body{
		padding-top: 30px;
	}

	.picMe{
		width:200px;
		height:200px;
		margin-bottom:20px;
	}

	.images{
		width:240px;
		height:220px;
	}

	.java-image{
		width:100px;
		height:133px;
		margin-bottom:10px;
		margin-top:10px;
	}

	.first-para{
		padding-top:20px;
	}

	.icons{
		font-size:120px;
		margin-top:20px;
		margin-bottom:10px
	}

	.icon-row{
		margin-top:20px;
		margin-top:20px;
		margin-bottom:10px
	}

	.firstHeader{
		text-align:center;
		background-color:#339966;
		color:white;
	}

	.navbar{
   		margin-bottom: 0!important;
	}

	h1{
		text-align:center;
	}

	h2{
		text-align:center;
	}

	p{
		margin-left:10px;
		margin-right:10px;
	}

	#portfolio{
		background-color:#f0f0f0;
		text-align:center;
		font:white;
		margin-bottom:30px;
	}

	#bio{
		margin-top:20px;
		margin-bottom:20px;
	}

	#contact{
		background-color:#f0f0f0;
		padding:50px;
	}

	a, a:visited, a:active, a:hover{
		color:blue;
	}

	.form-group{
		width:50%;
	}

	.img-responsive{
		padding:20px;
	}

	.navbar-fixed-bottom{
		margin-top:20px;
		text-align:center;
		background-color:#1f1f14;
		height:35px;
	}

	.footer{
		color:white;
		padding-top:5px;

	}

	@media screen and (max-width: 768px) {
    	body {
        	padding-top:200px;
    	}

	}
