
	body{
		padding-top: 30px;
		font-family: 'IBM Plex Mono', monospace;
		background: #f9f9f4;
	}

	h1,h2,h3{
		font-family: 'IBM Plex Mono', monospace;
	}

	.content{
		display: block;
		max-width: 1000px;
		padding: 1em;
		margin: 0 auto;
		width: 100%;
		flex: 1 0 auto;
	}

	.picMe{
		width:200px;
		height:200px;
		margin-bottom:20px;
	}

	.images{
		width:240px;
		height:220px;
	}

	.first-para{
		padding-top:20px;
	}

	.icons{
		font-size:120px;
		margin-top:20px;
		margin-bottom:10px
	}

	.icon-row{
		margin-top:20px;
		margin-top:20px;
		margin-bottom:10px
	}

	.firstHeader{
		text-align:center;
	}

	#icons img{
		width:32px;
		height:32px;
	}

	.navbar{
   		margin-bottom: 0!important;
	}

	.glyphicon{
		font-size:24px;
	}

	span{
		width:32px;
		height:32px;
		padding-top:5px;
	}


	p{
		margin-left:10px;
		margin-right:10px;
	}

	#portfolio{

		font:white;
		margin-bottom:30px;
	}

	#bio{
		margin-top:20px;
		margin-bottom:20px;
	}

	#contact{
		background-color:#f0f0f0;
		padding:50px;
	}

	a, a:visited, a:active, a:hover{
		color:black;
	}

	#portfolio a, a:visited, a:active, a:hover{
		color:blue;
	}

	.form-group{
		width:50%;
	}

	.img-responsive{
		padding:20px;
	}

	.navbar-fixed-bottom{
		margin-top:20px;
		text-align:center;
		background-color:#1f1f14;
		height:35px;
	}

	.footer{
		color:white;
		padding-top:5px;

	}

	@media screen and (max-width: 768px) {
    	body {
        	padding-top:200px;
    	}

	}
